<template>
  <v-container class="activities">
    <template v-if="activity">
      <v-row class="justify-space-around">
        <add-activity :activity="activity"></add-activity>
        <filter-activity
          :activity="activity"
          @FilteredActivity="updateActivity"
        ></filter-activity>
      </v-row>
    </template>
    <template v-else>
      <p>No resource found</p>
    </template>
  </v-container>
</template>

<script>
import axios from 'axios';
import filterActivity from './FilterActivity';
import addActivity from './AddActivity';
export default {
  name: 'activities',
  components: {
    filterActivity,
    addActivity,
  },
  data: () => ({
    activity: null,
  }),
  mounted() {
    this.getRandomActivity();
  },
  methods: {
    updateActivity(value) {
      this.activity = value;
    },
    getRandomActivity() {
      axios
        .get('/activity/')
        .then((result) => {
          this.activity = result.data;
        })
        .catch((error) => console.log(error));
    },
  },
};
</script>

<style></style>
