<template>
  <v-card flat>
    <v-card-title>You should:</v-card-title>
    <v-textarea
      no-resize
      outlined
      height="190px"
      filled
      color="primary"
      v-model="activity.activity"
      class="font-weight-black"
    >
    </v-textarea>

    <v-card-actions>
      <v-btn color="error" @click="save" block dark>Save for later</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  name: 'AddActivity',
  props: ['activity'],
  methods: {
    save() {
      this.$store.dispatch('saveActivities', this.activity);
    },
  },
};
</script>

<style></style>
