<template>
  <v-card flat>
    <v-card-title>Activity details:</v-card-title>
    <v-card-text>
      <v-combobox
        v-model="activity.type"
        :items="activityTypes"
        label="Types"
        outlined
        dense
      ></v-combobox>
      <v-text-field
        dense
        label="Participants"
        placeholder="Participants"
        outlined
        v-model="activity.participants"
        type="number"
        hide-details
        :rules="rules"
      ></v-text-field>
      <v-subheader class="pl-0">Budget</v-subheader>
      <v-slider
        v-model="activity.price"
        max="1.00"
        min="0.00"
        persistent-hint
        step="0.01"
        thumb-size="24"
        :thumb-label="true"
        dense
      >
        <template v-slot:prepend>
          <span class="price-title">cheap</span>
        </template>
        <template v-slot:append>
          <span class="price-title" style="margin-left:-40px">expensive</span>
        </template>
        <template v-slot:thumb-label="{ value }">
          <div>{{ value * 100 }}</div>
        </template>
      </v-slider>
    </v-card-text>
    <v-card-actions>
      <v-btn color="purple" block dark @click="FilterByActivityDetails"
        >hit me with a new one</v-btn
      >
    </v-card-actions>
  </v-card>
</template>

<script>
import axios from 'axios';
export default {
  name: 'FilterActivity',
  props: ['activity'],
  data: () => ({
    rules: [
      (value) => !!value || 'Required.',
      (value) => {
        const pattern = /^[0-9]\d*$/;
        return pattern.test(value) || '[0,...n]';
      },
    ],
  }),
  methods: {
    FilterByActivityDetails() {
      let filter_type = '?type=' + this.activity.type;
      let filter_participants = '?participants=' + this.activity.participants;
      let filter_price = '?price=' + this.activity.price;
      axios
        .get(`/activity${filter_type}&${filter_participants}&${filter_price}`)
        .then((result) => {
          this.$emit('FilteredActivity', result.data);
        })
        .catch((error) => console.log(error));
    },
  },
  computed: {
    activityTypes() {
      return [
        'education',
        'recreational',
        'social',
        'diy',
        'charity',
        'cooking',
        'relaxation',
        'music',
        'busywork',
      ];
    },
  },
};
</script>

<style scoped>
.price-title {
  position: absolute;
  padding-top: 20px;
  font-size: 0.8em;
}

</style>
