<template>
  <v-container class="home" fill-height fluid>
    <v-row class="text-center" justify="center">
      <v-col cols="12">
        <v-card class="mx-auto" max-width="640px">
          <v-tabs
            v-model="activeTab"
            background-color="transparent"
            light
            @change="saveSelectedTab(activeTab)"
          >
            <v-tab v-for="(tab, index) in tabs" :key="index">{{
              tab.name
            }}</v-tab>
          </v-tabs>
          <v-tabs-items v-model="activeTab">
            <v-tab-item v-for="tab in tabs" :key="tab.name">
              <v-card flat>
                <component
                  :is="tab.component"
                  :activities="activities"
                  class="text-left"
                ></component>
              </v-card>
            </v-tab-item>
          </v-tabs-items>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import myList from '@/components/MyList.vue';
import activities from '@/components/Activities.vue';
export default {
  name: 'Home',
  components: {
    myList,
    activities,
  },
  created() {
    this.setActiveTab();
  },

  data: () => ({
    activeTab: null,
    tabs: [
      { name: 'Activities', component: 'activities' },
      { name: 'My list', component: 'myList' },
    ],
  }),
  computed: {
    activities() {
      if (this.activeTab == 1) {
        return this.$store.getters.activities;
      }
      return [];
    },
  },
  methods: {
    setActiveTab() {
      this.activeTab = this.$store.getters.activeTab;
    },
    saveSelectedTab(tab) {
      this.$store.dispatch('saveActiveTab', tab);
    },
  },
};
</script>
