<template>
  <v-container class="list">
    <template v-if="activities">
      <v-data-table
        :headers="headers"
        :items="activities"
        sort-by="index"
        class="elevation-0"
        light
        disable-sort
        hide-default-footer
      >
        <template v-slot:item.index="{ item }">
          {{ activities.indexOf(item) + 1 }}
        </template>
        <template v-slot:item.price="{ item }">
          <span>{{ formatPrice(item) }}</span>
        </template>
        <template v-slot:item.actions="{ item }">
          <v-icon color="error" @click="deleteItem(item)">
            mdi-delete
          </v-icon>
        </template>

        <template v-slot:no-data>
          No data to display
        </template>
      </v-data-table>
      <v-btn v-if="activities.length > 0" color="error" @click="clearAll" block dark>Clear all</v-btn>
    </template></v-container
  >
</template>

<script>
export default {
  name: 'MyList',
  methods: {
    deleteItem(item) {
      const index = this.activities.indexOf(item);
      confirm('Are you sure you want to delete this item?') &&
        this.activities.splice(index, 1);
      this.$store.dispatch('updateActivities', this.activities);
    },
    clearAll() {
      if (this.activities.length > 0) {
        confirm('Are you sure you want to delete this item?');
        this.$store.dispatch('updateActivities', []);
      }
    },
    formatPrice(item) {
      return item.price == 0.0
        ? 'free'
        : `${item.price > 0.5 ? 'expensive' : 'cheap'}`;
    },
  },
  computed: {
    activities() {
      return this.$store.getters.activities;
    },
    headers() {
      return [
        {
          text: '#',
          align: 'start',
          sortable: false,
          value: 'index',
          class: 'header-item',
        },
        { text: 'Activity', value: 'activity', class: 'header-item' },
        {
          text: 'Participants',
          align: 'center',
          value: 'participants',
          class: 'header-item',
        },
        {
          text: 'Budget',
          align: 'center',
          value: 'price',
          class: 'header-item',
        },
        {
          text: 'Actions',
          align: 'center',
          value: 'actions',
          sortable: false,
          class: 'header-item',
        },
      ];
    },
  },
};
</script>

<style>
.header-item {
  font-weight: bold;
  font-size: 1.5rem;
  background-color: #f2f2f2;
}
</style>
